.projects {
  display: flex;
  padding-top: 4.25rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: black;
}

.container {
  padding: 1.5rem;
  width: 67%;
  box-sizing: content-box;
}
.projects h1 span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradientAnimatedBg {
  background: -webkit-linear-gradient(right, hotpink, orange, hotpink, orange);
  background-size: 500% 500%;
  -webkit-animation: Animation 2s linear infinite;
  -moz-animation: Animation 2s linear infinite;
  animation: Animation 2s linear infinite;
}

.carouselImg {
  width: 20vw;
}

@-webkit-keyframes Animation {
  0% {
    background-position: -75% -75%;
  }
  50% {
    background-position: 75% 75%;
  }
  100% {
    background-position: -75% -75%;
  }
}
@-moz-keyframes Animation {
  0% {
    background-position: -75% -75%;
  }
  50% {
    background-position: 75% 75%;
  }
  100% {
    background-position: -75% -75%;
  }
}
@keyframes Animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 80% 80%;
  }
}
